# Chi push cmt.py, dang.py, run.bat, icon/
# Ignore tat ca truoc, roi cho phep tung file

*
!.gitignore
!cmt.py
!dang.py
!run.bat
!update.bat
!watchdog.py
!control.bat
!control.py
!DIEU_KHIEN.bat
!VERSION
!config.example.json
!icon/
!icon/**
Thumbs.db
